body {
  background-color: rgb(29, 53, 53);
}

h1 {
  color: azure;
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
}

.xeneixe {
    color: hsl(60, 94%, 49%);
    background-color: rgba(0, 0, 255, 0.991);
}

#millo {
    color: rgb(232, 219, 219);
    background-color: #ff0000;
}
